################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DistributedLock/v17
/bin/Debug/net5.0
/obj
